body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(255, 170, 225);
    color: black;
    padding: 10px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    color: black;
}

.log img{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li{
 font-weight: bold;
}

.hero{
    background-image: url(../img/circle-scatter-haikei.svg);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: black;
}

.hero-content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 30px;
}

.hero-content h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.cta-button{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(249, 59, 227);
    color: rgb(255, 231, 231);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.cta-button:hover{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(222, 106, 175);
    
}

.Datos-Personales{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.lista{
    display: flex;
    justify-content: space-around;
}

.personal{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}



.titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.objetivo {
    text-align: center;
}

.imgobjetivo{
    display: block;
    margin: 0 auto;
}

.imgempresa{
    display: block;
    margin: 0 auto;
}

.Datoslab{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.imgfoto{
    display: block;
    margin: 0 auto;
}

.Proyectos-Realizados{
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

.proyecto-slider{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.proyect{
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: rgb(228, 174, 217) ;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(237, 234, 234, 0.708);
    border-radius: 5px;
   
}

.contacto{
    background-color: rgb(255, 233, 249);
    padding: 60px 0;
    text-align: center;
}

form{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2c3d9;
    padding: 25px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

.form-group{
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type= "email"],
txtarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(249, 59, 227);
    color:rgb(236, 227, 227);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover{
    background-color: rgb(255, 0, 157);
}

.Footer{
    background-color: #ff87e5;
    background-image: url(../img/circle-scatter-haikei.svg);
    color: #282525;
    text-align: center;
    padding: 20px 0;
}